body {
  
  /* background-image: url('https://images.unsplash.com/photo-1635611578109-4b9ce9525b13?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGFuZHNjYXBlJTIwcGhvdG9zJTIwZm9yJTIwYmFyYmVyc2hvcHxlbnwwfHwwfHx8MA%3D%3D'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Form inputs and selects */
.input {
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #ffffff;
  outline: none;
  margin: 15px;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #6366f1;
}

/* Buttons */
.btn {
  background-color: goldenrod;
  color: white;
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #1c5c86;
}

/* Navbar */
nav {
  background-color: lightcyan;
  ;
  border-radius: 20px;
  
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.2s;
}

nav a:hover {
  color: #6366f1;
}

nav button {
  background: goldenrod;
  border: none;
  padding: 7px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  border-radius: 20px;
  max-width: 100px;

}

nav button:hover {
  color: red;
}

/* Cards */
.shadow-md {
  box-shadow: 0 4px 20px black;
}


/* Form containers */
form {
  background-color: lightcyan;
  ;

  border-radius: 20px 40px 20px 40px;
}

/* Utility classes */
.max-w-md {
  max-width: 50rem;

}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-10 {
  margin-top: 5rem;
}

.p-6 {
  padding: 5.5rem;
}

.p-4 {
  padding: 1rem;
}

.mb-3 {
  margin-bottom: 5.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
